@import entities.Member
@import entities.Groups
@import entities.MembersGroup
@(classes: List[Member], group: List[Groups], memgroup: List[MembersGroup], des: String, nameGroup: String, url: String, name: String) @main("hello") {
<div class="content-chat">
    <div class="list-member">
        <div class="header-list-member">
            <div class="title">Toàn bộ cuộc trò chuyện</div>
            <div class="add-room">
                <a href="#" id="addGroupBtn"><img class="img-voice" alt=""
                    src="@routes.Assets.versioned("images/add-room.png")">
            </div>
        </div>
        <ul id="members" class="all-members">
            @for(groups<- group){
            <a href="@routes.Application.chat(groups.getId(), "group", groups.getGroupsname(), groups.getDescription())"><li class="user">@groups.getGroupsname()</li></a> }
            @for(member<- classes){
            <a href="@routes.Application.chat(member.getId(), "member", member.getUsername(), member.getDescription())"><li class="user">@member.getUsername()</li></a> }
        </ul>
    </div>
    <div class="content-right">
        <div class="name-room-chat">@nameGroup</div>
        <div class="content-room-chat">
            <div class="onChat">
                <div class="box-chat">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul id="messages" class="list-unstyled">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="new-message">
                    <div class="header-new-mesage">
                        <div class="attachment">
                            <a href="#"><img class="img-attch" alt=""
                                src="@routes.Assets.versioned("images/attach.png")"></a>
                        </div>
                        <div class="call">
                            <a href="#"><img class="img-voice" alt=""
                                src="@routes.Assets.versioned("images/Voice-512.png")"></a>
                        </div>
                        <div class="send">
                            <button class="img-send" id="send" type="submit">Send</button>
                        </div>
                    </div>
                    <div class="message">
                        <div class="input_msg_write">
                            <input id="message" type="text" class="write_msg" placeholder="Type a message" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-room">
                <div id ="myDIV">
                    <div class="title-list-room">Danh sách thành viên</div>
                    <div class="list-member-of-room">
                    </div>
                </div>
                <div class="description">
                    <div class="title-description">Mô tả</div>
                    <div class="content-description">@des</div>
                </div>
            </div>
        </div>
    </div>

    <div id="addGroupDiv" style="display: none;">
    <div id="addGroup" class="easyui-dialog" title="" value-options="closed:true,modal:true">
        <div class="PopupContentMid2">
            <div class="GeneralForm Search1Form">
                <label id="groupNameLabel" style="margin-left: 58px;" class="LabelStyle Label2Style">Tên nhóm</label>
                <input autocomplete="off" id="groupName" maxlength="30"  type="text" class="InputTextStyle InputText4Style" placeholder="Tên nhóm"/>
                <div class="Clear"></div>
                <h4  id="lstDep">Danh sách thành viên</h4>
                <div class="Clear"></div>
                @for(member<- classes){
            <input type="checkbox" id="@member.getId()" onclick="return Member.chooseMember(this);" value="@member.getId()"/>@member.getUsername()<br></br>
            }
                <p id="errMsgDialog" class="ErrorMsgStyle" style="display: none;"></p>
                <p style="display: none; margin-left: 10px" class="SuccessMsgStyle" id="resultInsertShop"></p>
            </div>
            <div class="GeneralForm Search1Form"  style="text-align:center">
                <button onclick="return Member.addGroup();" id="btnAddGroup">
                    <span class="Sprite2">Chọn</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
$(function() {
    Member.lstMember = new Member.Map();
    $('#addGroupBtn').click(function(){
        console.log("def");
        $('#addGroup').dialog({
            title: "Tạo group chat",
            closed: false,
            cache: false,
            modal: true,
            width : 700,
            height :'auto',
            onOpen : function(){
            },
            onClose : function(){
            }
        });
    });
    $('#addGroup').dialog('close');
    Member.searchMember();
});
</script>
<script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(name, url)"></script>
}
