@import bean.LoginFormBean

@(form: Form[LoginFormBean]) @main("Login") {
<div class="login-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Sign in to continue</strong>
					</div>
					<div class="panel-body">
						@helper.form(routes.Application.authenticate) {
							@if(form.hasErrors) {
							        @if(form.errors.size() > 0) {
							            @for((key, value) <- form.errors) {
							            	<div class="alert alert-danger col-sm-push-2">
							            		 <a class="close" data-dismiss="alert">x</a>
							            		 <strong> @key.toString() : </strong>
								                    @for(err <- value) {
														  @err.message().toString()
								                    }
							               </div>
							            }
							        } else {No error returned.}
							}
							@if(flash.containsKey("message")){
								<div class="alert alert-danger col-sm-push-2">
									<a class="close" data-dismiss="alert">x</a> 
									<strong>@flash.get("message")</strong>
								</div>
								
							}
							@if(flash.containsKey("success")){
								<div class="alert alert-success col-sm-push-2">
									<a class="close" data-dismiss="alert">x</a> 
									<strong>@flash.get("success")</strong>
								</div>
								
							}
							@helper.CSRF.formField
							<fieldset>
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon"> 
													<i class="glyphicon glyphicon-user"></i>
												</span> 
												<input type="text" class="form-control" placeholder="Username" name="@{form("username").label}" id="@{form("username").id}" value="@{form("username").value}">
											</div>
											<div class="error" id="error-username"></div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon"> 
													<i class="glyphicon glyphicon-lock"></i>
												</span> 
												<input class="form-control" placeholder="Password" name="@{form("password").label}" type="password" id="@{form("password").id}" value="@{form("password").value}">
											</div>
											<div class="error" id="error-password"></div>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
										</div>
									</div>
								</div>
							</fieldset>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
}
