/* layout.css Style */
.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center
}

.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}

.image-preview-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.image-preview-input-title {
	margin-left: 2px;
}

.login-page .container {
	margin-top: 50px;
}

#myFooter {
	background-color: #373a48;
	color: white;
}

#myFooter .footer-copyright {
	background-color: #383737;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

#myFooter .footer-copyright p {
	margin: 10px;
	color: #ccc;
}

#myFooter ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 1.7;
}

#myFooter h5 {
	font-size: 18px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
}

#myFooter a {
	color: #d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus {
	text-decoration: none;
	color: white;
}

#myFooter .myCols {
	text-align: center;
}

#myFooter .social-networks {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a {
	font-size: 32px;
	margin-right: 5px;
	margin-left: 5px;
	color: #f9f9f9;
	padding: 10px;
	transition: 0.2s;
}

#myFooter .social-networks a:hover {
	text-decoration: none;
}

#myFooter .facebook:hover {
	color: #0077e2;
}

#myFooter .google:hover {
	color: #ef1a1a;
}

#myFooter .twitter:hover {
	color: #00aced;
}

@media screen and (max-width: 767px) {
	#myFooter {
		text-align: center;
	}
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
html {
	height: 100% !important;
}

body {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter {
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

th, td {
	text-align: center;
}

tbody button.btn {
	margin: 0 15px;
}

.alert-hide {
	display: none;
}

.panel-heading {
	padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#custom-search-input {
	padding: 3px;
	border: solid 1px #E4E4E4;
	border-radius: 6px;
	background-color: #fff;
}

#custom-search-input input {
	border: 0;
	box-shadow: none;
}

#custom-search-input button {
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
	font-size: 23px;
}

.error-404 {
	margin: 0 auto;
	text-align: center;
	height: 500px;
}

.error-404 .error-code {
	bottom: 60%;
	color: #4686CC;
	font-size: 96px;
	line-height: 100px;
	font-weight: bold;
}

.error-404 .error-desc {
	font-size: 12px;
	color: #647788;
}

.error-404 .m-b-10 {
	margin-bottom: 10px !important;
}

.error-404 .m-b-20 {
	margin-bottom: 20px !important;
}

.error-404 .m-t-20 {
	margin-top: 20px !important;
}

input#dateOfBirth {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.error {
	color: red;
}

.form-group span {
	margin: 20px;
}

.student-content .container, .class-content .container {
	min-height: 500px;
}

.search-result.col-md-5.col-md-push-6 {
	border: 1px solid #5bc0de;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	position: absolute;
	z-index: 1000;
	background: white;
	display: none;
}

.login-page {
	height: 500px;
}

table#data-student-page.page {
	height: 300px;
}

table#data-class-page.page {
	height: 250px
}

img#loading {
	position: absolute;
	top: 165px;
	right: 40%;
	width: 300px;
	height: 300px;
	z-index: 9999;
	display: none;
}

img#loading.active {
	display: block;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	max-height: 330px;
	height: 330px;
	min-height: 330px;
}

img#blah {
	margin: 15px 65px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.Search1Form { margin-bottom:10px; }
.Search1Form .Label1Style { width:80px; }
.Search1Form .Label2Style { width:90px; padding-left:5px; }
.Search1Form .Label3Style { width:50px; }
.Search1Form .Label4Style { width:125px; text-align:left; padding-left:15px; }
.Search1Form .Label5Style { width:200px; text-align:left; padding-left:15px; }
.Search1Form .Label6Style { width:88px; padding-left:5px; }
.Search1Form .Label7Style { width:120px; padding-left:5px; }
.Search1Form .ValueStyle { padding:2px 0 5px; }
.Search1Form .Value1Style { width:196px; font-weight:bold; }
.Search1Form .Value2Style { width:400px; }
.Search1Form .Value3Style { width:80px; font-weight:bold; }
.Search1Form .InputArea1Style { margin:5px 0 5px 16px; height:60px; width:530px; padding:3px; font-size:1em; }
.LabelPLStyle { padding-left:3px !important; margin-right:0px !important; width:15px; }
.Search1Form .InputText2Style, .ImportExcel1Form .InputText2Style { width:135px; }
.Search1Form .InputText1Style { width:90px; }
.Search1Form .InputText3Style { width:385px; }
.Search1Form .InputText4Style { width:183px; }
.Search1Form .InputText5Style { width:162px; }
.Search1Form .InputText6Style { width:141px; }
.Search1Form .BtnSearchStyle { margin-left:10px; }
.Search1Form .BoxSelect1 .MySelectBoxClass { width:100px; }
.Search1Form .BoxSelect1 .CustomStyleSelectBoxInner { width:67px; }
.GeneralForm .Title2Style { margin:0 0 10px 0; }
.GeneralForm .Title2MTStyle { margin-top:10px; }
.SidebarSection .Title2Style { color:#04528e; font-size:0.75em; text-transform:uppercase; padding:8px 0 6px 13px; background:url(../images/bg_title2.jpg) left top repeat-x; border-bottom:1px solid #d5e0e4; }
.GeneralForm { padding:15px 0 15px; }
.CTTT1Form, .Search1Form, .ImportExcel1Form { padding:0; }
.GeneralForm .Dl3Style dt, .GeneralForm .Dl3Style dd { margin-bottom:15px; height:22px; }
.GeneralForm .LabelStyle, .GeneralSSection .LabelStyle { padding:2px 0 0; text-align:right; color:#215ea2; margin:0 10px 0 0; display:block; }
.GeneralSSection .Label2Style { padding-left:20px; }
.GeneralSSection .ValueStyle { padding-top:2px; }
.Report1Form .Dl3Style dt { width:16%; }
.Report1Form .Dl3Style dd { width:33%; }
.ReqiureStyle { color:#F00; }
.GeneralForm .InputTextStyle, .GeneralSSection .InputTextStyle { border:1px solid #c4c4c4; padding:0 4px; height:20px; line-height:20px; margin-bottom:9px; }
.Report1Form .InputText1Style { width:191px; }
.Report1Form .InputText2Style { width:170px; }
.Report1Form .InputText3Style { width:164px;}
.Report1Form .InputText4Style { width:120px;}  
.CalendarLink { margin:3px 0 0 6px; display:inline; }
.GeneralForm .LabelTMStyle { margin-top:-6px; }
.PopupContentMid { padding:10px; }
.PopupContentMid2 { padding:0 0 10px 0; }
.Clear { clear:both; padding:0 !important; }
.DlgOverlay { background:url(../images/bg_overlay.png) left top repeat; position:fixed; left:0px; right:0px; top:0px; bottom:0px; z-index:100002;}
.OverlayLoading { width:219px; height:57px; color:#22a2bb; font-size:1em; position:absolute; top:50%; left:50%; z-index:100003; }
.OverlayInLoading { position:relative; top:-50%; left:-50%; background:url(../images/bg_loading.png) left top no-repeat; width:219px; height:43px; padding:14px 0 0; text-align:center; vertical-align:middle; }
.OverlayLoading img { margin-right:20px; }